
#login{
  margin-left: auto;
  color: #a8d5cc;
}

body{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE5ddzI?ver=5937');
  background-repeat: repeat;
  background-size: auto, cover;
  margin: 0;
}

/* .App-title {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
} */

/* .App-logo {
  justify-content: flex-start;
  height: 15vmin;
  pointer-events: none;
} */

