
#login{
  margin-left: auto;
  color: #a8d5cc;
}

body{
  margin: 0;
}

/* .App-title {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
} */

/* .App-logo {
  justify-content: flex-start;
  height: 15vmin;
  pointer-events: none;
} */

