.navbar {
  font-family: Arial;
  display: flex;
  background-color: #414141;
}

.abutton {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: aliceblue;
  outline: none;
  
}

.abutton:hover {
  background-color: #232323;
  color: aliceblue;
  cursor: pointer;
}

.active {
  background-color: #F5F5F5; 
  color: #232323;
}

.active:hover {
  background-color: #F5F5F5;
  color: #232323;
}

#createpost{
  margin-left: auto;
}
#login{
  margin: 0px;
  color: #a8d5cc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
